.grid-section.section-4 .card img.bridgemonte-logo {
    height: 50px;
    padding: 25px 0;
    width: auto;
}

.grid-section.section-4 .card img.fixology-logo {
    height: 50px;
    padding: 40px 0;
    width: auto;    
 }