.section-5 .skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-5 .skills-container .skill-section {
    flex: 25%;
}

.section-5 .skill-section .section-title {
    padding-bottom: 10px;
}
.section-5 .skill-section .section-pills .skill {
    border: solid 1px #519872;
    color: #FFF;
    padding: 5px 7px;
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
}
